body{
    margin: 0;
    padding: 0;
    background-color: black;
    margin: 200px;
    margin-top: 255px;
    font-family: 'Lexend Deca',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
.container{
    display: flex;
    margin-left: 200px;
    color: white; 
}
.children{
    padding-top: 15px;
    padding-left: 55px;
    border: 2px solid blue;
    background-color: chocolate ;
}
.children h1 span{
    color: blueviolet;
    font-weight: bold;
}

.bilan{
    display: inline-block;
    margin-right: 45px;
}
.parent{
    width:  15px;
}


@media screen and (max-width:1035px) {
    .container{
      justify-content: center;
      align-items: flex-end;
      display: block;
      
    }
}